@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #E7E7E7;
  --color-secondary: #ADB0B7;
  --background: #08101B;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

body {
  color: var(--color-primary);
  background-color: var(--background);
}
