@use 'spacing';
@use 'typography';

#hero {
  background: var(--bg-dark) url('../assets/hero.jpg') no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.hero {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 spacing.$space-32 spacing.$space-32;
    z-index: 100;

    @media screen and (max-width: 768px) {
      padding: 0 spacing.$space-8;
    }
  }

  &__subtitle {
    @include typography.uppercase-lg;

    @media screen and (max-width: 768px) {
      @include typography.uppercase-md;
    }
  }

  &__name {
    @include typography.title-lg;
    margin-bottom: spacing.$space-16;

    @media screen and (max-width: 768px) {
      @include typography.title-md;
    }
  }

  &__title {
    @include typography.uppercase-md($font-weight: normal);

    @media screen and (max-width: 768px) {
      @include typography.uppercase-sm;
    }
  }

  &__button {
    opacity: .8;
    margin-top: spacing.$space-48;
    transition: all var(--transition-duration) ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__socials {
    position: absolute;
    width: 100%;
    bottom: spacing.$space-64;
  }
}
