.loader {
  position: fixed;
  inset: 0;
  background: var(--bg-dark);
  z-index: 800;
  height: 100vh;
  width: 100%;
  transition: opacity .5s ease-in-out;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }

  &::before {
    $total-size: 4rem;
    $border-width: .5rem;
    $inner-size: calc($total-size - $border-width);
    $position-offset: calc($total-size / 2 - $total-size);
    $loader-circle-bg: rgba(255, 255, 255, .1);
    $animation-duration: 0.5s;

    content: '';
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: $inner-size;
    height: $inner-size;
    margin: $position-offset 0 0 $position-offset;
    border-radius: 50%;
    border-top: $border-width solid $loader-circle-bg;
    border-right: $border-width solid $loader-circle-bg;
    border-bottom: $border-width solid $loader-circle-bg;
    border-left: $border-width solid var(--color-accent);
    animation: load $animation-duration infinite linear;
  }

  @keyframes load {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
