$space-0: 0;
$space-2: 0.125rem;
$space-4: 0.25rem;
$space-6: 0.375rem;
$space-8: 0.5rem;
$space-12: 0.75rem;
$space-16: 1rem;
$space-20: 1.25rem;
$space-24: 1.5rem;
$space-32: 2rem;
$space-40: 2.5rem;
$space-48: 3rem;
$space-64: 4rem;
$space-80: 5rem;
$space-96: 6rem;
$space-128: 8rem;
$space-160: 10rem;
