@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #E4E4E7;
  --color-secondary: #a2a4aa;
  --color-dimmed: #292e37;
  /* --color-accent: #F59494; */
  /* --color-accent: #827760; */
  --color-accent: #918077;
  --color-accent-dimmed: #5b5f67  ;
  --background: #08101B;
  --transition: 0.25s;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

body {
  color: var(--color-primary);
  background-color: var(--background);
}
