@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #E4E4E7;
  --color-secondary: #a2a4aa;
  --color-dimmed: #292e37;
  /* --color-accent: #F59494; */
  /* --color-accent: #827760; */
  --color-accent: #918077;
  --color-accent-dimmed: #5b5f67  ;
  --background: #08101B;
  --transition: 0.25s;
  --scrollbar-width: 0; /* value will be set by JS */
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

body {
  color: var(--color-primary);
  background-color: var(--background);
}

main::after {
  pointer-events: none;
  content: ' ';
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(transparent, var(--background));
  height: 5rem;
}
