body {
  & > *:not(#menu) {
    transition: filter var(--transition);
  }
}

body[data-menu='theme'] {
  overflow: hidden;
  padding-right: var(--scrollbar-width);

  & > #menu {
    padding-right: var(--scrollbar-width);
  }

  & > *:not(#menu) {
    filter: blur(4px);
  }
}
