@use 'typography';

.button {
  @include typography.uppercase-sm;
  display: inline-block;
  padding: 1.2rem 2rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border: none;
  transition: all var(--transition-duration) ease-in-out;

  &--primary {
    background: var(--bg-dark);
    color: var(--color-primary-dark-bg);

    &.button--inverted {
      background: var(--bg-primary);
      color: var(--color-primary);
    }

    &:hover,
    &:focus {
      background: var(--color-accent);
    }
  }

  &--secondary {
    background: transparent;
    color: var(--color-primary);
    box-shadow: inset 0 0 0 1px var(--color-primary);

    &.button--inverted {
      color: var(--color-primary-dark-bg);
      box-shadow: inset 0 0 0 1px var(--color-primary-dark-bg);
    }

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 1px var(--color-accent);
      color: var(--color-accent);
    }
  }

  i {
    margin-left: 0.2rem;
  }
}
