.carousel {
  display: flex;
  background: var(--color-accent);
  color: var(--color-primary-dark-bg);
  overflow: hidden;
  white-space: nowrap;
  padding: 2rem 0;

  &__inner {
    width: fit-content;
    white-space: nowrap;
    animation: scroll-horizontal 20s linear infinite;
  }

  &__item {
    display: inline-block;
    font-size: 5rem;
    margin-right: 5rem;
  }

  @keyframes scroll-horizontal {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
