:root {
  --color-primary: #313131;
  --color-secondary: #7d7d7d;
  --color-primary-dark-bg: #f5f5f5;
  --color-secondary-dark-bg: #94949e;
  --color-accent: #ff0077;
  --bg-primary: #f5f5f5;
  --bg-secondary: #ebebeb;
  --bg-dark: #151515;
  --transition-duration: .2s;
  --hero-image: url('../assets/hero.jpg');
  --bg-image: url('../assets/bg.jpg');
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.2rem;
}
