@use 'spacing';
@use 'typography';

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: spacing.$space-32;
  width: 100%;
  padding: spacing.$space-160 0;
  background: var(--bg-primary);
  color: var(--color-primary);

  @media screen and (max-width: 768px) {
    padding: spacing.$space-96 0;
  }

  &--primary {
    background: var(--bg-primary);
    color: var(--color-primary);
  }

  &--secondary {
    background: var(--bg-secondary);
    color: var(--color-primary);

    .section__overlay {
      background: var(--bg-secondary);
    }
  }

  &--dark {
    background: var(--bg-dark);
    color: var(--bg-primary);

    .section__overlay {
      background: var(--bg-dark);
    }

    .section__title {
      color: var(--color-primary-dark-bg);
    }

    .section__text {
      color: var(--color-secondary-dark-bg);
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: var(--bg-primary);
    opacity: 0.9;
  }

  &__intro,
  &__row {
    max-width: calc(1200px + spacing.$space-32 * 2);
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 0 spacing.$space-32;
  }

  &__intro {
    max-width: calc(720px + spacing.$space-32 * 2);
  }

  &__row--gap {
    margin-top: spacing.$space-32;
  }

  &__row {
    @Include typography.text-md;

    &--gap {
      margin-top: spacing.$space-32;
    }
  }

  &__subtitle {
    @include typography.uppercase-md;
    color: var(--color-accent);
    margin-bottom: spacing.$space-8;

    @media screen and (max-width: 768px) {
      @include typography.uppercase-sm;
    }
  }

  &__title {
    @include typography.title-md;
    margin-bottom: spacing.$space-24;
    color: var(--color-primary);

    @media screen and (max-width: 768px) {
      @include typography.title-sm;
    }
  }

  &__text {
    @include typography.text-xl;
    color: var(--color-secondary);

    @media screen and (max-width: 768px) {
      @include typography.text-lg;
    }
  }
}
