.section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 10rem 0;
  background: var(--bg-primary);
  color: var(--color-primary);

  &--primary {
    background: var(--bg-primary);
    color: var(--color-primary);
  }

  &--secondary {
    background: var(--bg-secondary);
    color: var(--color-primary);

    .section__overlay {
      background: var(--bg-secondary);
    }
  }

  &--dark {
    background: var(--bg-dark);
    color: var(--bg-primary);

    .section__overlay {
      background: var(--bg-dark);
    }

    .section__title {
      color: var(--color-primary-dark-bg);
    }

    .section__text {
      color: var(--color-secondary-dark-bg);
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: var(--bg-primary);
    opacity: 0.9;
  }

  &__intro,
  &__row {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }

  &__intro {
    max-width: 700px;
  }

  &__row--gap {
    margin-top: 2rem;
  }

  &__subtitle {
    letter-spacing: .2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-accent);
    margin-bottom: .2rem;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--color-primary);
  }

  &__text {
    line-height: 2rem;
    color: var(--color-secondary);
  }
}
