@use 'spacing';

.skills {
  display: flex;
  background: var(--color-accent);
  color: var(--color-primary-dark-bg);
  overflow: hidden;
  white-space: nowrap;
  padding: spacing.$space-32 0;
  pointer-events: none;

  &__inner {
    width: fit-content;
    white-space: nowrap;
    animation: scroll-horizontal 40s linear infinite;
  }

  &__item {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-right: 8rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @keyframes scroll-horizontal {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
