@use 'spacing';

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: spacing.$space-64;

  @media screen and (max-width: 768px) {
    font-size: 1.75rem;
    gap: spacing.$space-48;
  }

  &__link,
  &__link:visited {
    color: var(--color-primary-dark-bg);
    transition: color var(--transition-duration) ease-in-out;
  }

  &__link:hover,
  &__link:focus {
    color: var(--color-accent);
  }
}
