main, .nav {
  counter-reset: number;

  h1::before,
  li a::before {
    display: inline-block;
    width: 2em;
    content: '0' counter(number) '.';
    counter-increment: number;
    font-weight: bold;
    text-shadow:
      1px 1px 0 rgb(var(--color-dimmed)),
      1px -1px 0 rgb(var(--color-dimmed)),
      -1px 1px 0 rgb(var(--color-dimmed)),
      -1px -1px 0 rgb(var(--color-dimmed));
    color: rgb(var(--background));
    position: relative;
    font-size: calc(1em - 2px);
    line-height: 1;
    top: -1px;
    left: 1px;
  }

  h1:nth-child(n+10)::before,
  li:nth-child(n+10) a::before {
    content: counter(number) '.';
  }
}
