@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-primary: #f5f5f5;
  --color-secondary: #94949e;
  --color-background1: #0f0f0f;
  --color-background2: #1c1c1e;

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 72rem;
  --breakpoint-2xl: 80rem;
}

:root {
  --transition-duration: 250ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

body {
  color: var(--color-primary);
  background-color: var(--color-background1);
}

#page-content::after {
  pointer-events: none;
  content: '';
  position: fixed;
  inset: auto 0 0;
  background: linear-gradient(transparent, var(--color-background1));
  height: 2rem;
}
