@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f5f5f5;
  --color-secondary: #94949e;
  --color-dimmed: #292e37;
  --bg-primary: #0f0f0f;
  --bg-secondary: #141414;
  --border: #1a1a1a;
  --transition: 0.25s;
  --scrollbar-width: 0; /* value will be set by JS */
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

body {
  color: var(--color-primary);
  background-color: var(--bg-primary);
}

a, button {
  transition: color var(--transition);
}

#page-content::after {
  pointer-events: none;
  content: ' ';
  position: fixed;
  inset: auto 0 0;
  background: linear-gradient(transparent, var(--bg-primary));
  height: 4rem;
}
