#page-content {
  transition: filter var(--transition);
}

body[data-menu='theme'] {
  overflow: hidden;
  padding-right: var(--scrollbar-width);

  & > #menu {
    padding-right: var(--scrollbar-width);
  }

  & > #page-content {
    filter: blur(8px);
  }
}
