#page-content {
  transition: filter var(--transition);
}

body[data-menu='theme'] {
  overflow: hidden;
  padding-right: var(--scrollbar-width);

  #page-content > * {
    filter: blur(8px);
  }

  & > #menu {
    padding-right: var(--scrollbar-width);
  }
}

body[data-menu='none'] #menu {
  pointer-events: none;
}
