.nav {
  --separator-width: 3em;

  counter-reset: number;

  a {
    &:hover span::before {
      width: calc(var(--separator-width) * 2);
    }

    &::before {
      display: inline-block;
      width: 2.4em;
      content: '0' counter(number);
      counter-increment: number;
    }

    &:nth-child(n+10)::before {
      content: counter(number);
    }

    &[data-active="true"] {
      color: var(--color-primary);

      span::before {
        width: calc(var(--separator-width) * 2)
      }
    }

    & > span::before {
        content: '';
        width: var(--separator-width);
        height: 1px;
        margin-right: 1em;
        border-radius: 1px;
        background-color: currentColor;
        transition: width var(--transition-duration);
    }
  }
}
