.nav {
  --separator-width: 4em;

  counter-reset: number;

  a {
    display: flex;
    align-items: center;

    &:hover span::before {
      width: calc(var(--separator-width) * 2)
    }

    &::before {
      display: inline-block;
      width: 2.4em;
      content: '0' counter(number);
      counter-increment: number;
    }

    & > span {
      display: flex;
      align-items: center;

      &::before {
        content: '';
        width: var(--separator-width);
        height: 1px;
        margin-right: 1em;
        border-radius: 1px;
        background-color: currentColor;
        transition: width var(--transition-duration);
      }
    }
  }

  a:nth-child(n+10) a::before {
    content: counter(number);
  }

  li[data-active="true"] a {
    color: var(--color-primary);

    span::before {
      width: calc(var(--separator-width) * 2)
    }
  }
}
