.zen {
  transition:
    filter var(--default-transition-duration),
    opacity var(--default-transition-duration),
    transform var(--default-transition-duration);
  will-change: filter, opacity, transform;
  /* Force GPU acceleration */
  transform: translate3d(0, 0, 0);
}

#page-content:has(.nav a:hover) .zen:not(:hover, [data-highlighted]) {
  opacity: .4;
  filter: blur(4px);
  z-index: -20;
}
