@use 'spacing';
@use 'typography';

.button {
  @include typography.uppercase-sm;

  display: inline-block;
  padding: spacing.$space-20 spacing.$space-32;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border: none;
  transition: all var(--transition-duration) ease-in-out;

  &--primary {
    background: var(--bg-dark);
    color: var(--color-primary-inv);

    &:hover,
    &:focus {
      background: var(--color-theme);
    }
  }

  &--primary-inv {
    background: var(--bg-primary);
    color: var(--color-primary);

    &:hover,
    &:focus {
      background: var(--color-theme);
    }
  }

  &--secondary {
    background: transparent;
    color: var(--color-primary);
    box-shadow: inset 0 0 0 1px var(--color-primary);

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 1px var(--color-theme);
      color: var(--color-theme);
    }
  }

  &--secondary-inv {
    background: transparent;
    color: var(--color-primary-inv);
    box-shadow: inset 0 0 0 1px var(--color-primary-inv);

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 1px var(--color-theme);
      color: var(--color-theme);
    }
  }

  i {
    margin-left: spacing.$space-2;
  }
}
