@use 'styles/typography';

#dev-links {
  @include typography.uppercase-sm;
  position: fixed;
  left: 4px;
  bottom: 4px;
  background: var(--bg-dark);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--bg-primary);
  border-radius: 8px;
  text-align: center;
  z-index: 1000;

  a {
    color: var(--color-primary-dark-bg);
    opacity: .8;
    transition: opacity var(--transition-duration) ease-in-out;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.ruler {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1000;

  @mixin ruler {
    position: absolute;
    height: 100vh;
    border-left: 1px dashed grey;
    border-right: 1px dashed grey;
    left: 50%;
    transform: translateX(-50%);
  }

  &__inner {
    @include ruler;
    width: 720px;
  }

  &__outer {
    @include ruler;
    width: 1200px;
  }
}
