@use 'spacing';
@use 'breakpoints';

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  gap: spacing.$space-48;

  @media (min-width: breakpoints.$mobile) {
    font-size: 2rem;
    gap: spacing.$space-64;
  }

  &__link,
  &__link:visited {
    color: var(--color-primary-inv);
    transition: color var(--transition-duration) ease-in-out;
  }

  &__link:hover,
  &__link:focus {
    color: var(--color-theme);
  }
}
