@use 'spacing';
@use 'typography';

#services::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--bg-dark) url('../assets/bg.webp') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  opacity: .1;
  pointer-events: none;
}

.contact__email {
  @include typography.text-sm;

  color: var(--color-secondary-inv);
  margin-top: spacing.$space-8;
  text-align: center;

  & > span {
    font-style: italic;
  }
}

#footer {
  padding: 0 0 spacing.$space-64;
  scroll-snap-align: end;
}
