@use 'spacing';
@use 'typography';

#services::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--bg-dark) url('../assets/bg.webp') no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  opacity: .1;
}

.contact__email {
  @include typography.text-sm;
  color: var(--color-secondary-dark-bg);
  margin-top: spacing.$space-8;
  text-align: center;
  font-style: italic;
}

#footer {
  padding: 0 0 spacing.$space-64;
}
