:root {
  --color-primary: #313131;
  --color-secondary: #535353;

  --color-primary-inv: #f5f5f5;
  --color-secondary-inv: #94949e;

  --color-theme: #ff0077;
  --color-theme-dark: #990047;

  --bg-primary: #fbfbfb;
  --bg-secondary: #f3f3f3;
  --bg-dark: #151515;

  --transition-duration: .2s;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
