@use 'spacing';
@use 'typography';
@use 'breakpoints';

#hero {
  display: flex;
  position: relative;
  justify-content: center;
  background: var(--bg-dark);
  color: var(--color-primary-inv);
  align-items: center;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.hero {
  &__background {
    position: fixed;
    max-width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 100;
    padding: 0 spacing.$space-8;
    animation: hero-content-hide 1ms linear forwards;
    animation-timeline: scroll(root);
    animation-range: 0 50vh;

    @media screen and (min-width: breakpoints.$mobile) {
      padding: 0 spacing.$space-32;
    }

    @keyframes hero-content-hide {
      to { transform: translateY(-15vh) }
    }
  }

  &__subtitle {
    @include typography.uppercase-md;

    margin-bottom: spacing.$space-8;
    color: var(--color-theme);

    @media screen and (min-width: breakpoints.$mobile) {
      @include typography.uppercase-lg;
    }
  }

  &__name {
    @include typography.title-md;

    margin-bottom: spacing.$space-16;

    @media screen and (min-width: breakpoints.$mobile) {
      @include typography.title-lg;
    }
  }

  &__title {
    @include typography.uppercase-sm;

    @media screen and (min-width: breakpoints.$mobile) {
      @include typography.uppercase-md($font-weight: normal);
    }
  }

  &__button {
    opacity: 0;
    margin-top: spacing.$space-48;
    transform: translateY(-100vh);
    transition: all var(--transition-duration) ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__socials {
    position: absolute;
    width: 100%;
    bottom: spacing.$space-64;
    animation: hero-socials-hide 1ms linear forwards;
    animation-timeline: scroll(root);
    animation-range: 0 70vh;

    li {
      transform: translateY(-200vh);
    }

    @keyframes hero-socials-hide {
      to {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

.hero--animated {
  .hero {
    &__background {
      transform: translateZ(0);
      will-change: transform, opacity;
      animation:
        hero-bg-magic 2s ease-out forwards,
        hero-scroll-magic 1ms linear;
      animation-timeline: auto, scroll(root);
      animation-range: 0 100vh;

      @keyframes hero-bg-magic {
        from {
          transform: scale(3) rotateZ(-15deg);
          opacity: .9;
        }
        to {
          transform: scale(1) rotateZ(0deg);
          opacity: .1;
        }
      }

      @keyframes hero-scroll-magic {
        to {
          transform: scale(1.5) rotateZ(-5deg);
          opacity: .5;
        }
      }
    }

    &__button {
      animation: hero-element-appear .5s ease-in-out forwards;
      animation-delay: 1.5s;
    }

    &__socials li {
      animation: hero-element-appear .5s ease-in-out forwards;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation-delay: #{1.8 + $i * .1}s;
        }
      }
    }

    @keyframes hero-element-appear {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: .8;
        transform: translateY(0);
      }
    }
  }
}
