@use 'spacing';
@use 'typography';
@use 'breakpoints';

#hero {
  display: flex;
  position: relative;
  justify-content: center;
  background: var(--bg-dark);
  color: var(--color-primary-inv);
  align-items: center;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.hero {
  &__background {
    position: fixed;
    width: 100%;
    height: 100vh;
    opacity: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 100;
    padding: 0 spacing.$space-8;

    @media screen and (min-width: breakpoints.$mobile) {
      padding: 0 spacing.$space-32;
    }
  }

  &__subtitle {
    @include typography.uppercase-md;

    margin-bottom: spacing.$space-8;
    color: var(--color-theme);

    @media screen and (min-width: breakpoints.$mobile) {
      @include typography.uppercase-lg;
    }
  }

  &__name {
    @include typography.title-md;

    margin-bottom: spacing.$space-16;

    @media screen and (min-width: breakpoints.$mobile) {
      @include typography.title-lg;
    }
  }

  &__title {
    @include typography.uppercase-sm;

    @media screen and (min-width: breakpoints.$mobile) {
      @include typography.uppercase-md($font-weight: normal);
    }
  }

  &__button {
    opacity: 0;
    margin-top: spacing.$space-48;
    transform: translateY(-100vh);
    transition: all var(--transition-duration) ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__socials {
    position: absolute;
    width: 100%;
    bottom: spacing.$space-64;

    li {
      transform: translateY(-200vh);
    }
  }
}

.hero--animated {
  .hero {
    &__background {
      transform: translateZ(0);
      will-change: transform, opacity;
      animation: bg-magic 2s ease-out forwards;

      @keyframes bg-magic {
        0% {
          transform: scale(3) rotateX(15deg) rotateY(15deg) rotateZ(-15deg);
          opacity: .9;
        }
        100% {
          transform: scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          opacity: .05;
        }
      }
    }

    &__button {
      animation: appear .5s ease-in-out forwards;
      animation-delay: 1.5s;
    }

    &__socials li {
      animation: appear .5s ease-in-out forwards;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation-delay: #{1.8 + $i * .1}s;
        }
      }
    }

    @keyframes appear {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: .8;
        transform: translateY(0);
      }
    }
  }
}
