@use 'spacing';
@use 'typography';

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: spacing.$space-32;
  width: 100%;
  background: var(--bg-primary);
  color: var(--color-primary);
  padding: spacing.$space-96 0;

  @media screen and (min-width: 768px) {
    padding: spacing.$space-160 0;
  }

  &--primary {
    background: var(--bg-primary);
    color: var(--color-primary);
  }

  &--secondary {
    background: var(--bg-secondary);
    color: var(--color-primary);
  }

  &--dark {
    background: var(--bg-dark);
    color: var(--bg-primary);

    .section__title {
      color: var(--color-primary-inv);
    }

    .section__text {
      color: var(--color-secondary-inv);
    }
  }

  &__inner {
    width: 100%;
    padding: 0 spacing.$space-16;
    margin: 0 auto;
    display: grid;
    gap: spacing.$space-40;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: spacing.$space-16;

    @media screen and (min-width: 768px) {
      padding: 0 spacing.$space-32;
      grid-template-columns: repeat(8, 1fr);
      grid-column-gap: spacing.$space-32;
    }

    @media screen and (min-width: 1280px) {
      max-width: calc(1200px + spacing.$space-40 * 2);
      padding: 0 spacing.$space-40;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: spacing.$space-40;
    }
  }

  &__intro {
    grid-column: 1 / span 4;
    text-align: center;

    @media screen and (min-width: 768px) {
      grid-column: 2 / span 6;
    }

    @media screen and (min-width: 1280px) {
      grid-column: 3 / span 8;
    }
  }

  &__row {
    @Include typography.text-md;

    text-align: center;
    grid-column: 1 / -1;

    &--gap {
      margin-top: spacing.$space-32;
    }
  }

  &__subtitle {
    @include typography.uppercase-md;

    color: var(--color-theme);
    margin-bottom: spacing.$space-8;

    @media screen and (max-width: 768px) {
      @include typography.uppercase-sm;
    }
  }

  &__title {
    @include typography.title-md;

    margin-bottom: spacing.$space-24;
    color: var(--color-primary);

    @media screen and (max-width: 768px) {
      @include typography.title-sm;
    }
  }

  &__text {
    @include typography.text-xl;

    color: var(--color-secondary);

    @media screen and (max-width: 768px) {
      @include typography.text-lg;
    }
  }
}
