@use 'spacing';
@use 'typography';
@use 'breakpoints';

.services-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: spacing.$space-16;
  grid-row-gap: spacing.$space-40;

  @media screen and (min-width: breakpoints.$mobile) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: spacing.$space-32;
  }

  @media screen and (min-width: breakpoints.$desktop) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-column-gap: spacing.$space-40;
  }

  &--animated {
    & > li {
      animation: services-appear 1.5s ease-out forwards;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation-delay: #{($i - 1) * .2}s;
        }
      }
    }
  }

  @keyframes services-appear {
    0% {
      opacity: 0;
      transform: translateY(5rem) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}

.services-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  gap: spacing.$space-24;

  &--1 {
    grid-column: 1 / -1;

    @media screen and (min-width: breakpoints.$mobile) {
      grid-column: 1 / span 2;
    }

    @media screen and (min-width: breakpoints.$desktop) {
      grid-column: 1;
      grid-row: 1;
    }
  }

  &--2 {
    grid-column: 1 / -1;
    grid-row: 2;

    @media screen and (min-width: breakpoints.$mobile) {
      grid-column: 3 / span 2;
      grid-row: 1;
    }

    @media screen and (min-width: breakpoints.$desktop) {
      grid-column: 2;
      grid-row: 1;
    }
  }

  &--3 {
    grid-column: 1 / -1;
    grid-row: 3;

    @media screen and (min-width: breakpoints.$mobile) {
      grid-column: 2 / span 2;
      grid-row: 2;
    }

    @media screen and (min-width: breakpoints.$desktop) {
      grid-column: 3;
      grid-row: 1;
    }
  }

  &__icon {
    color: var(--color-theme);
    font-size: 2.5rem;

    @media screen and (min-width: breakpoints.$mobile) {
      font-size: 3.5rem;
    }
  }

  &__title {
    @include typography.title-xs;

    @media screen and (min-width: breakpoints.$mobile) {
      @include typography.title-sm;
    }
  }

  &__description {
    @include typography.text-md;

    color: var(--color-secondary-inv);
  }
}
