@use 'spacing';
@use 'typography';
@use 'breakpoints';

.services-container {
  display: flex;
  justify-content: center;
  gap: spacing.$space-40;
  flex-wrap: wrap;
}

.services-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 250px;
  max-width: 400px;
  flex: 1 0;
  gap: spacing.$space-24;

  &__icon {
    color: var(--color-theme);
    font-size: 2.5rem;

    @media screen and (min-width: breakpoints.$mobile) {
      font-size: 3.5rem;
    }
  }

  &__title {
    @include typography.title-xs;

    @media screen and (min-width: breakpoints.$mobile) {
      @include typography.title-sm;
    }
  }

  &__description {
    @include typography.text-md;

    color: var(--color-secondary-inv);
  }
}
