@use 'spacing';
@use 'typography';

.services-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.services-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 250px;
  max-width: 400px;
  flex: 1 0;
  gap: spacing.$space-24;

  &__icon {
    color: var(--color-accent);
    font-size: 3.5rem;

    @media screen and (max-width: 768px) {
      font-size: 2.5rem;
    }
  }

  &__title {
    @include typography.title-sm;

    @media screen and (max-width: 768px) {
      @include typography.title-xs;
    }
  }

  &__description {
    @include typography.text-md;
    color: var(--color-secondary-dark-bg);
  }
}
