@use 'spacing';

.skills {
  display: flex;
  background: var(--color-theme-dark);
  color: var(--color-primary-inv);
  overflow: hidden;
  white-space: nowrap;
  padding: spacing.$space-32 0;

  &__inner {
    width: fit-content;
    white-space: nowrap;
    animation: scroll-horizontal 50s linear infinite;
  }

  &__item {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin-right: spacing.$space-160;

    @media screen and (max-width: 768px) {
      width: 4rem;
      height: 4rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @keyframes scroll-horizontal {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
