:root {
  --color-primary: #313131;
  --color-secondary: #7d7d7d;
  --color-primary-dark-bg: #f5f5f5;
  --color-secondary-dark-bg: #94949e;
  --color-accent: #cc005f;
  --bg-primary: #f5f5f5;
  --bg-secondary: #ebebeb;
  --bg-dark: #151515;
  --hero-image: url('../assets/hero-bg.jpg');
  --bg-image: url('../assets/bg.jpg');
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

.loader {
  position: fixed;
  inset: 0;
  background: var(--bg-dark);
  z-index: 800;
  height: 100vh;
  width: 100%;
  transition: opacity 500ms ease-in-out;
}

.loader--hidden {
  opacity: 0;
  pointer-events: none;
}

.loader:before {
  --total-size: 4rem;
  --border-width: .5rem;
  --inner-size: calc(var(--total-size) - var(--border-width));
  --position-offset: calc(var(--total-size) / 2 - var(--total-size));
  --loader-circle-bg: rgba(255, 255, 255, .1);
  --animation-duration: 500ms;

  content: '';
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: var(--inner-size);
  height: var(--inner-size);
  margin: var(--position-offset) 0 0 var(--position-offset);
  border-radius: 50%;
  border-top: var(--border-width) solid var(--loader-circle-bg);
  border-right: var(--border-width) solid var(--loader-circle-bg);
  border-bottom: var(--border-width) solid var(--loader-circle-bg);
  border-left: var(--border-width) solid #FF0077;
  animation: load var(--animation-duration) infinite linear;
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.button {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2rem;
  padding: 1.5rem 3rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border: none;
  transition: all .2s ease-in-out;
}

.button--primary {
  background: var(--bg-dark);
  color: var(--color-primary-dark-bg);
}

.button--primary:hover,
.button--primary:focus {
  background: var(--color-accent);
}

.button--secondary {
  background: transparent;
  color: var(--color-primary);
  box-shadow: inset 0 0 0 2px var(--color-primary);
}

.button--secondary:hover,
.button--secondary:focus {
  box-shadow: inset 0 0 0 2px var(--color-accent);
  color: var(--color-accent);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 4rem;
}

.socials__link,
.socials__link:visited {
  color: var(--color-secondary-dark-bg);
  transition: color .2s ease-in-out;
}

.socials__link:hover,
.socials__link:focus {
  color: var(--color-accent);
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 10rem 0;
}

.section,
.section--white {
  background: var(--bg-primary);
  color: var(--color-primary);
}

.section--grey {
  background: var(--bg-secondary);
  color: var(--color-primary);
}

.section--dark {
  background: var(--bg-dark);
  color: var(--bg-primary);
}

.section__overlay {
  position: absolute;
  inset: 0;
  background: var(--bg-dark);
  opacity: .9;
}

.section__intro,
.section__row {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.section__intro {
  width: 700px;
}

#intro {
  background: #151515 var(--hero-image) no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  padding: 0;
}

.intro__socials {
  position: absolute;
  width: 100%;
  bottom: 4rem;
}

#services {
  background: #313131 var(--bg-image) no-repeat center;
  background-size: cover;
}

#footer {
  padding: 4rem 0;
}
