:root {
  --color-primary: #313131;
  --color-secondary: #7d7d7d;
  --color-primary-dark-bg: #f5f5f5;
  --color-secondary-dark-bg: #94949e;
  --color-accent: #ff0077;
  --bg-primary: #f5f5f5;
  --bg-secondary: #ebebeb;
  --bg-dark: #151515;
  --transition-duration: 250ms;
  --hero-image: url('../assets/hero-bg.jpg');
  --bg-image: url('../assets/bg.jpg');
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  font-size: 1.2rem;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

.loader {
  position: fixed;
  inset: 0;
  background: var(--bg-dark);
  z-index: 800;
  height: 100vh;
  width: 100%;
  transition: opacity .5s ease-in-out;
}

.loader--hidden {
  opacity: 0;
  pointer-events: none;
}

.loader:before {
  --total-size: 4rem;
  --border-width: .5rem;
  --inner-size: calc(var(--total-size) - var(--border-width));
  --position-offset: calc(var(--total-size) / 2 - var(--total-size));
  --loader-circle-bg: rgba(255, 255, 255, .1);
  --animation-duration: 500ms;

  content: '';
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: var(--inner-size);
  height: var(--inner-size);
  margin: var(--position-offset) 0 0 var(--position-offset);
  border-radius: 50%;
  border-top: var(--border-width) solid var(--loader-circle-bg);
  border-right: var(--border-width) solid var(--loader-circle-bg);
  border-bottom: var(--border-width) solid var(--loader-circle-bg);
  border-left: var(--border-width) solid var(--color-accent);
  animation: load var(--animation-duration) infinite linear;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2rem;
  padding: 1.2rem 2rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border: none;
  transition: all var(--transition-duration) ease-in-out;
}

.button--primary {
  background: var(--bg-dark);
  color: var(--color-primary-dark-bg);
}

.button--primary.button--inverted {
  background: var(--bg-primary);
  color: var(--color-primary);
}

.button--primary:hover,
.button--primary:focus {
  background: var(--color-accent);
}

.button--secondary {
  background: transparent;
  color: var(--color-primary);
  box-shadow: inset 0 0 0 1px var(--color-primary);
}

.button--secondary.button--inverted {
  color: var(--color-primary-dark-bg);
  box-shadow: inset 0 0 0 1px var(--color-primary-dark-bg);
}

.button--secondary:hover,
.button--secondary:focus {
  box-shadow: inset 0 0 0 1px var(--color-accent);
  color: var(--color-accent);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 4rem;
}

.socials__link,
.socials__link:visited {
  color: var(--color-primary-dark-bg);
  transition: color var(--transition-duration) ease-in-out;
}

.socials__link:hover,
.socials__link:focus {
  color: var(--color-accent);
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  padding: 10rem 0;
}

.section,
.section--primary {
  background: var(--bg-primary);
  color: var(--color-primary);
}

.section--secondary {
  background: var(--bg-secondary);
  color: var(--color-primary);
}

.section--dark {
  background: var(--bg-dark);
  color: var(--bg-primary);
}

.section__overlay {
  position: absolute;
  inset: 0;
  background: var(--bg-primary);
  opacity: .8;
}

.section--secondary .section__overlay {
  background: var(--bg-secondary);
}

.section--dark .section__overlay {
  background: var(--bg-dark);
}

.section__intro,
.section__row {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.section__intro {
  width: 700px;
}

.section__subtitle {
  font-size: 1.2rem;
  letter-spacing: .2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: .2rem;
}

.section__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.section--dark .section__title {
  color: var(--color-primary-dark-bg);
}

.section__text {
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--color-secondary);
}

.section--dark .section__text {
  color: var(--color-secondary-dark-bg);
}

#hero {
  background: var(--bg-dark) var(--hero-image) no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding: 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
  z-index: 100;
}

.hero__name {
  font-size: 5rem;
  font-weight: 700;
}

.hero__title {
  letter-spacing: .2rem;
  text-transform: uppercase;
  margin-top: .8rem;
}

.hero__button {
  opacity: .8;
  margin-top: 3rem;
  transition: all var(--transition-duration) ease-in-out;
}

.hero__button:hover {
  opacity: 1;
}

.hero__socials {
  position: absolute;
  width: 100%;
  bottom: 4rem;
}

#services {
  background: var(--bg-dark) var(--bg-image) no-repeat center;
  background-size: cover;
}

#footer {
  padding: 4rem 0;
}
