@use 'styles/globals';
@use 'styles/loader';
@use 'styles/button';
@use 'styles/socials';
@use 'styles/section';
@use 'styles/carousel';
@use 'styles/services';
@use 'styles/scroll-to-top';
@use 'styles/custom';
